.featured-movie{
    background-image: url('https://d235gwso45fsgz.cloudfront.net/as-assets/variants/c0r85kdgrsnl6j4fgwj8e0xqtjq9/2748e9350ed673f0bc85d759bfecfbf38216ad0efa85a36a7f0474da46c6343d');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    background-position: center;
    padding: 50px 0px;
}
.bgmovie{
    display: flex;
    background-color: rgba(0, 0, 0, 0.685);
    width: 70%;
    margin: auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.featured-movie-img-container{ /* container imagem banner principal */
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
    width: 45%;
    flex-wrap: wrap;
}
.featured-movie-infos{ /* container infos banner principal */
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.849);
    gap: 20px;
    min-width: 200px;
    width: 45%;
    flex-wrap: wrap;
}
.featured-movie-img{
    width: 80%;
    border-radius: 30px;
    padding: 20px;
    margin: auto;
}


.featured-movie-classify{
    display: flex;
    align-items: center;
    gap: 10px;
}
.age{
    width: 20px;
}
.rate{
    height: 20px;
}
.btn-buy-ticket{
    background-color: red;
    padding: 10px 30px;
    color: white;
    font-weight: 600;
    border-radius: 20px;
    border: none;
}
.movie-selection-container{
    background-color: rgb(26, 26, 26);
    margin: 0;
}
.movies-card-container{
    margin: 0% 2%;
    padding: 2% 0%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.movie{ /* cards de filmes */
    box-sizing: border-box;
    min-width: 300px;
    width: 30%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;
    margin: 20px;
    justify-content: flex-start;
    color: white;
    padding: 20px;
    border: 1px solid white;
    border-radius: 10px;
}
.movie .btn-buy-ticket{
    margin-top: auto;
}
.movie img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}