@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto Mono', monospace;
}

header {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background: #03071E;
}

.logo-container {
    width: 8%;
    max-width: 150px;
    min-width: 130px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.logo-container:hover {
    background-color: white;
    transition: 0.2s;
}

.logo-container img {
    width: 100%;
}

.menu {
    width: 92%;
}

.menu ul {
    height: 100%;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    flex-wrap: wrap;
    color: white;
}

.menu ul li {
    width: 4%;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 25px;
    box-sizing: border-box;
    cursor: pointer;
}
.menu ul li:hover {
    background-color: #FFBA08;
    color: #03071E;
    font-weight: 800;
    width: 120px;
    height: 60%;
    transition: 0.2s;
    border-radius: 10px;
}